* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    background-color: rgba(207, 207, 207, 1);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1 fr 4fr;
}

#left-head {
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(253, 231, 76);
    border-radius: 20px;
}

h1 {
    color: rgb(7, 27, 242);
    font-size: 50px;
    margin: 1px;
    font-style: 'teko', sans-serif;
    padding-top:  25px;
}

h3 {
   font-size: 20px;
   margin: -2px;
}

.start {
    margin: 40px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}

.start:hover {
    color: yellow;
}

.reset {
    margin: 38px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    margin-top: 80px;
}

.reset:hover {
    color: yellow;
}

.timer{
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.flips{
    margin: 50px;
    font-size: 30px;
    color: black;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8%;
  
    
    
}

#cell {
    width: 18%;
    height: 95px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 35px; 
    border-radius: 10%;
    border: 3px solid white;
    background-color: rgb(7, 27, 242);
    grid-column: 2 span;
    grid-row: 2 span;
    color: white;
    cursor: pointer;
    transition: 0.5s all ease;
}

#cell:hover {
    background-color: orange;
    transform: scale(1.03);
}

#cell:active {
    transform: rotateY(180deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}

#gameboard-wrapper {
    justify-content: center;
    width: 90%;
    grid-row: 1;
    grid-column: 3;
    height : 25%;
    padding: 40px;
    
}


.start:focus {
    color: yellow;
}

.reset:focus {
    color: yellow;
}

.flips-box {
    height: 90px;
    width: 90px;
    background-color: black;
    font-size: 80px;
    margin-left: 102px;
    margin-top: -50px;
    border-radius: 20px;
    color: white;
}

  @media (max-width: 600px) {
    #cell, #left-head {
      width: 100%;
    }
  }

  .box_zero, .box_one, .box_two, .box_three, .box_four, .box_five, .box_six, .box_seven, .box_eight, .box_nine, .box_ten, .box_eleven, .box_twelve, .box_thirteen, .box_fourteen, .box_fifteen {
    text-indent: 2000%;
    white-space: no wrap;
    overflow: hidden;
}

#cell.box_zero.flip, #cell.box_one.flip, #cell.box_two.flip, #cell.box_three.flip, #cell.box_four.flip, #cell.box_five.flip, #cell.box_six.flip, #cell.box_seven.flip, #cell.box_eight.flip, #cell.box_nine.flip, #cell.box_ten.flip, #cell.box_eleven.flip, #cell.box_twelve.flip, #cell.box_thirteen.flip, #cell.box_fourteen.flip, #cell.box_fifteen.flip {
    background-color: green;
}